
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container mt-4">
    <h3>Yeni Kategori Ekleme Sayfası</h3>
    <div class="col md-6">
        <form class="form-group border p-4 shadow rounded bg-light" method="post">
            <input type="text" placeholder="Kategori Adı" name="CategoryName" class="form-control mb-3" />
            <input type="text" placeholder="Açıklama" name="CategoryDescription" class="form-control mb-3" />
            <button class="btn btn-success mt-3">Kategori Ekle</button>
        </form>
    </div>
</div>

