@using EntityLayer.Concrete
@model List<About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid mt-4">
    <div class="container mb-3">
        <h3>Hakkımda Veri Listesi</h3>
    </div>
    <div class="container mt-3">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Hakkımda Başlığı</th>
                    <th>Durum</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var irem in Model)
                {

                    <tr>
                        <td>@irem.AboutID</td>
                        <td>Başlık</td>
                        <td>
                            @if (irem.AboutStatus == true)
                            {
                                <span class="badge badge-success">Aktif</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">Pasif</span>
                            }
                        </td>

                        <td>
                            <a href="/About/ChangeStatus/@irem.AboutID" class="btn @(irem.AboutStatus ? "btn-outline-danger":"btn-outline-success") btn-sm">
                                @if (irem.AboutStatus)
                                {
                                    <span><i class="fas fa-eye-slash"></i>Pasif Yap</span>
                                }
                                else
                                {
                                    <span><i class="fas fa-eye"></i>Aktif Yap</span>
                                }
                            </a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

<div class="container mt-4">
    @Html.Action("AboutPartial", "About")
</div>